.main {
	font-family: 'PT Sans', sans-serif;
	margin: 0 auto;
	max-width: 1440px;
	min-height: 100vh;
	min-width: 300px;
	border-left: 1px solid var(--line-color);
	border-right: 1px solid var(--line-color);
	background: linear-gradient(var(--line-color), var(--line-color)) no-repeat center/1px 100%;

	@media (max-width: 490px) {
		border-left: none;
		border-right: none;
		background: none;
		max-width: 100%;
		width: 100%;
		box-sizing: border-box;
		overflow-x: hidden;
	}
}

.historic-dates {
	position: relative;
	min-height: 1080px;
	height: 100%;
	overflow: hidden;
	display: flex;
  flex-direction: column;

	@media (max-width: 490px) {
		min-height:100vh;
		width: 100%;
		box-sizing: border-box;
		overflow-x: hidden;
	}
	
	&__heading {
		position: relative;
		margin: 0;
		padding-top: 170px;
    padding-left: 80px;
		font-weight: 700;
		font-size: 56px;
		line-height: 120%;
		color: var(--font-main-color);
		max-width: 353px;

		&::before{
			content: "";
			position: absolute;
			width: 5px;
			height: 120px;
			background: linear-gradient(180deg, #3877EE, #EF5DA8);
			bottom: 10px;
    	left: -1px;
		}

		@media (max-width: 490px) {
			padding-top: 59px;
			padding-left: 20px;
			font-size: 20px;
			line-height: 120%;
			max-width: 123px;

			&::before{
				display: none;
			}
		}
	}

	&__range {
		padding-top: 96px;

		@media (max-width: 490px) {
			padding-top: 70px;
		}
	}

	&__spinner {
		position: absolute;
    top: 215px;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: center;

		&::before{
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			background: var(--line-color);
			top: 265px;
    	left: 0;
			z-index: 0;
			@media (max-width: 490px) {
				display: none;
			}	
		}
	}

	&__navigation {
		margin-top: 137px;
		margin-left: 80px;
		order: 1;

		@media (max-width: 768px) {
			order: 2;
		}

		@media (max-width: 490px) {
			margin-top: auto;
			margin-left: 20px;
			position: absolute;
			bottom: 13.33px;
			z-index: 99;
		}
	}

	&__slider {
		margin-top: 56px;
		margin-bottom: 104px;
		order: 2;

		@media (max-width: 768px) {
			order: 1;
			margin-top: 35px;
			margin-bottom: 0;
		}
	}

	@media (max-width: 490px) {
		min-height: 100vh;
		padding-bottom: 13.33px;
	}

}

@keyframes slideToUp {
  0% { 
		transform: translateY(10px);
	}
}
